@import "~bootstrap/scss/bootstrap.scss";
* { box-sizing: border-box; }
body, html { height: 100%; }

body{
    width: 100%;
}

.notebook{
    display: flex;
	align-items:initial;
	justify-content: center;
	background-color: whitesmoke;
    background-image: url("https://images.pexels.com/photos/4041230/pexels-photo-4041230.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    height: 965px;
    background-position: center;
    background-size: cover;
}
   
     

ul {padding:0;list-style: none;}
.todos{
    background: transparent;
    padding-top: 160px;
    width: 300px;

}
.title{
    
    color: #1d3557;
    font-family: 'Luckiest Guy', cursive;
    margin: 24px;
    font-size: 36px;
    padding-top: 24px;
}
.box{
    width: 100%;
    border-bottom-color: white;
    margin-bottom: 20px;
    border-radius:6px;
    
}

.box :hover{
    border-bottom-color: #a8dadc;
}

.tasks{
    .task{
        .delete{
            display: none;
        }
        &:hover {
            .delete{
                display: block;
            }
        }
    }
}
.lists{
    margin-left: 10px; 
    
}
.list {
    justify-content: space-between;
    display: flex;
    align-items : baseline;
    font-family: 'Caveat', cursive;
    
}

.trash{
    
    margin-bottom: 20px;
    color: #e63946;
    margin-left: 30px;
    padding:8px 10px;border:1px solid #e63946;border-radius:6px;
}
.trash:hover {border:1px solid #e63946; color:#fff; background-color: #e63946;}
